nav{
    width:100%;
    height: 56px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

nav a{
    color:white;
    text-decoration: none;
    
}

nav a.active{
    color:purple;
    font-weight:bold;
}